#lastestproject .projectbox {
    padding-top: 30px;
}

#lastestproject .imgdetail,
#ourteam .imgdetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lastestproject .imgdetail h2,
#ourteam .imgdetail h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
    transition: all 0.7s;
}

#lastestproject .imgdetail p,
#ourteam .imgdetail p {
    font-size: 14px;
    line-height: 100%;
}

#lastestproject .imgbox .bar1 {
    right: -50px;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 40px;
    background-color: red;
    transition: all 0.7s;
}

#lastestproject .bg-cover {
    opacity: 0;
    overflow: hidden;
    transition: all 0.7s;
}

#lastestproject .cross {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

#lastestproject .cross .bar2 {
    right: 46%;
    position: absolute;
    top: -50px;
    height: 1px;
    transform: rotate(90deg);
    width: 40px;
    background-color: red;
    transition: all 0.7s;
}

#lastestproject .projectbox:hover .bg-cover {
    opacity: 1;
}

#lastestproject .projectbox:hover .bar1 {
    right: 46%;
}

#lastestproject .projectbox:hover .bar2 {
    top: 50%;
}

#lastestproject .projectbox:hover .imgdetail h2 {
    color: red;
}

#lastestproject .projectbox:hover .imgbox img {
    transform: scale(1.1);
}

#ourservice {
    margin-top: 50px;
    position: relative;
}

#ourservice img {
    width: 100%;
    height: 100%;
}

#ourservice .service {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#ourservice .service p {
    color: #FFF;
    opacity: 0.8;
}

#ourservice .service h2 {
    color: #FFF;
    width: 315px;
}

#ourservice .service p:not(.menutitle):first-child {
    padding-top: 0;
}

#ourservice .service p:not(.menutitle) {
    font-size: 18px;
    font-weight: bold;
    padding-top: 35px;
}
#ourservice .container{
    height: 674px;
    width: 100%;
}

#statistic {
    padding: 25px 0;
}

#statistic .flexgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#statistic .flexgrid .flexbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#statistic .flexgrid .flexbox .statisticimg {
    width: 60px;
    height: 60px;
}

#statistic .flexgrid .flexbox .statisticimg img {
    width: 100%;
    height: 100%;
}

#statistic .flexgrid .flexbox .number {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

#statistic .flexgrid .flexbox .text {
    font-size: 14px;
}