#overview .imgbox,
#mission .imgbox{
  padding-top: 25px;
}
#vision .quote{
  height: 25px;
  width: 30px;
  margin: 0 auto;
}
#vision .quote img{
  height: 100%;
  width: 100%;
}
#vision .twoimg{
  padding: 0 10px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#vision .twoimg .twoimgbox{
  width: 50%;
}
#vision .twoimg .twoimgbox:first-child img{
  padding-right: 5px;
}
#vision .twoimg .twoimgbox:last-child img{
  padding-left: 5px
}
#vision .twoimg .twoimgbox img{
    width: 100%;
}
#mission {
  padding-bottom: 50px;
}
#mission .subtitle{
  padding-top: 20px;
}