/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Default
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
    color: black !important;
    background: #FFFFFF;
    overflow-x: hidden;
}
main{
    background-color: white;
}

.menutitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 4.2px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    width: 330px;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    width: 340px;
}
.btn-arcsite {
    cursor: pointer;
    height: 40px;
    width: 168px;
    text-align: center;
    border: 1px solid red;
    color: red;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    text-transform: capitalize;
  }
  
  .btn-arcsite:hover {
    cursor: pointer;
    height: 40px;
    width: 168px;
    text-align: center;
    color: white;
    border: 1px solid red;
    background-color: red;
  }
  .btn-arcsite:focus{
    outline:5px auto red;
  }
/* projectbox */
.imgbox {
    position: relative;
    margin: 0 10px;
    overflow: hidden;
}

.imgbox img {
    width: 100%;
    transition: 0.7s;
}
p{
    line-height: 25px;
}

#header,
#content,
#footer {
    overflow-x: hidden !important;
}

/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
*   Blog Header
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/

.carousel-inner img {
    height: 100vh !important;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    bottom: 90px;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators li.active {
    background-color: red;
}

.carousel-indicators li {
    background-color: white;
    border: 1px solid red;
}

.line {
    display: flex;
    width: 200px;
    margin: 0 auto;
}

.carousel-caption h1 {
    font-size: 25px;
}

.line .red {
    color: red;
}
a {
    color: black;
}

a:hover,
a:focus {
    color: black;
}

button:focus,
a:hover,
a:focus {
    outline-color: red;
    text-decoration: none;
}

.btn-elite:hover {
    cursor: pointer;
    height: 40px;
    width: 168px;
    text-align: center;
    color: white;
    border: 1px solid red;
    background-color: red;
}

/*humberger menu*/

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 1px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.change-hamburger-menu .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change-hamburger-menu .bar2 {
    opacity: 0;
}

.change-hamburger-menu .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

#header .container-cus {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 10;
}

/*start header*/

#header .container-cus2 {
    background-color: black;
    padding-left: 18px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

#header .box-logo-hamberger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    overflow: visible;
}

#header .logo {
    height: 25px;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 18px;
    margin-right: 18px;
    float: left;
}

#header .logo img {
    height: 100%;
}

#header .title-header {
    color: red;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.ul-media-share {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px;
}

.ul-media-share li {
    display: inline-block;
}

.ul-media-share li a {
    display: block;
    height: 27px;
    width: 27px;
    background-color: #F29022;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    /* vertical-align: middle; */
    transition: 0.3s;
    padding: 0 !important;
}

.ul-media {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 18px;
    margin-top: 3px;
}

.ul-media-f {
    margin-right: 10px !important;
}

.ul-media li {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
}

.ul-media li a {
    display: block;
    transition: 0.3s;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.ul-media li a img {
    height: auto;
    width: auto;
    max-height: 100%;
}

/*menu sidebar*/

#header nav.menu-side-bar {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
}

#header nav .sidebar-head {
    background-color: black;
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header nav .sidebar-logo {
    height: 55px;
}

#header nav .sidebar-logo img {
    height: 100%;
}

#header nav.menu-side-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#header nav.menu-side-bar li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

#header nav.menu-side-bar li a {
    display: block;
    font-size: 16px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Content
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/

.bg-cover {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/****************************************************************************
////////////////////////////////////////////////////////////////////////////////
* 	Blog Footer
////////////////////////////////////////////////////////////////////////////////
*****************************************************************************/

/* partner */

#footer .partner {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px;
}

#footer .partner .partner-member img {
    width: 87px !important;
    height: 65px;
    padding-top: 10px;
}

#footer .partner .partner-member {
    padding-top: 30px;
    width: 100%;
}

/*overview*/

#footer .overview {
    padding-top: 50px;
    background-color: white;
}

#footer .overview .title {
    padding-bottom: 0;
}
#footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    color: white;
}

#footer .contact p {
    line-height: 25px;
    color: black;
}

#footer .contact .logo {
    height: 40px;
    margin-bottom: 30px;
}

#footer .contact .address {
    margin-top: 50px;
}

#footer .contact .phone {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* footer-bottom */

#footer .footer-bottom {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.mediafooter {
    margin: 0 auto;
}

.mediafooter .ul-media {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .footer-bottom p:last-child {
    padding-top: 25px;
}

#footer .partner-dot {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .partner-dot button {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid red;
}

#footer .partner-dot li {
    list-style-type: none;
}

#footer .partner-dot .slick-active button {
    background-color: red;
}